<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="copyright" content="2020 University of Freiburg">
    <meta name="copyright" content="Chair of Algorithms and Data Structures">
    <meta name="author" content="Theresa Klumpp">
    <meta name="contact" content="klumppt@cs.uni-freiburg.de">
    <title>Docker Example</title>
    <link rel="stylesheet" href="../static/style.css">
    <script type="text/javascript" src="../static/jquery-3.5.1.js"></script>
    {% if query %}
      <script type="text/javascript">
        var query = "{{query|replace(" ", "_")}}";
        var docs = {{ docs | tojson }};
        var descriptions = {{ descriptions | tojson }};
        var result_ids = {{ result_ids | tojson }};
        var rel_in_res = {{ relevant["in results"] | tojson }};
      </script>
      <script type="text/javascript" src="../static/details.js"></script>
    {% endif %}
    <script type="text/javascript" src="../static/main.js"></script>
  </head>
  <body>

    <!-- TITLE -->
    <div id="titlebox">
      <h1>Inverted Index Evaluation</h1>
    </div>

    <!-- OVERVIEW -->
    <div id="overviewbox">
      <p> This is the evaluation of the inverted index in the docker example.
      Each line represents a query in the benchmark.
      To get details about a query, click on it in the overview table below.
      </p>
      <table class="overview">

        <thead>
          <tr>
            <th title="Keywords entered for this query">Keyword Query</th>
            <th title="Precision at 3">P@3</th>
            <th title="Precision at R">P@R</th>
            <th title="Average Precision">AP</th>
          </tr>
        </thead>

        <tbody>
          {% for entry in measures %}
            {% if entry != "mean" %}
              <tr id="{{ entry|replace(" ", "_") }}" class="clickable-row" data-href="?details={{entry}}">
              <td>{{ entry }}</td>
                <td>{{ "%0.2f" % measures[entry][0] }}</td>
                <td>{{ "%0.2f" % measures[entry][1] }}</td>
                <td>{{ "%0.2f" % measures[entry][2] }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>

        <tfoot>
          <tr>
            <td>mean</td>
            <td>{{ "%0.2f" % measures["mean"][0] }}</td>
            <td>{{ "%0.2f" % measures["mean"][1] }}</td>
            <td>{{ "%0.2f" % measures["mean"][2] }}</td>
          </tr>
        </tfoot>

      </table>
    </div>

    <!-- DETAILS -->
    {% if query %}
    <div id="detailsbox">

      <h2>Query: {{ query }}</h2>
      <div>
        <p>Total number of relevant documents: {{ num_rel }}</p>
        <span><b>P@3</b> = {{ "%0.5f" % measures[query][0] }}, </span>
        <span><b>P@R</b> = <b>P@{{ num_rel }}</b> = {{ "%0.5f" % measures[query][1] }}, </span>
        <span><b>AP</b> = {{ "%0.5f" % measures[query][2] }} </span>
        <p>
          Click on any of the headers below to show or hide tables containing details about this query.
          You can hover over rows in the tables to show the description of a document.
          This might give you insight into the ranking of the inverted index.
        </p>
      </div>

      <!-- Table: top docs in result -->
      <p id="topResHead" class="clickable table-title">
        Top documents in the result list
      </p>
      <table id="topRes" style="display: none;" class="scroll two-cols">
        <thead>
          <tr>
            <th title="Position in the result"> # </th>
            <th title="Title of the document"> Document title </th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2"> Documents highlighted in <span style="color: red">red</span> are not relevant to the query. </td>
          </tr>
        </tfoot>
      </table>

      <!-- Table: relevant docs in result -->
      <p id="inListHead" class="clickable table-title">
        Relevant documents in the result list (total: {{ relevant["in results"]|length }})
      </p>
      <div id="inList" style="display: none;">
        <table class="scroll two-cols">
          <thead>
            <tr>
              <th title="Position in the result"> # </th>
              <th title="Title of the document"> Document title </th>
            </tr>
          </thead>
          <tbody>
            {% for id in result_ids %}
              {% if id in relevant["in results"] %}
                <tr title="{{descriptions[id - 1]}}">
                  <td> {{loop.index0 + 1}} </td>
                  <td> {{docs[id - 1]}} </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Table: relevant docs not in result -->
      {% if "not in res" in relevant %}
      <p id="notInListHead" class="clickable table-title">
        Relevant documents <i>not</i> in the result list (total: {{ relevant["not in res"]|length }})
      </p>
        <div id="notInList" style="display: none;">
          <table class="scroll one-col">
            <thead>
              <tr>
                <th title="Title of the document"> Document title </th>
              </tr>
            </thead>
            <tbody>
              {% for id in relevant["not in res"] %}
                <tr title="{{descriptions[id - 1]}}">
                  <td> {{docs[id - 1]}} </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}

    </div>
    {% endif %}

  </body>
</html>
