<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="copyright" content="2020 University of Freiburg">
    <meta name="copyright" content="Chair of Algorithms and Data Structures">
    <meta name="author" content="Theresa Klumpp">
    <meta name="contact" content="klumppt@cs.uni-freiburg.de">
    <title>Docker Example</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <div id="titlebox">
      <h1>Inverted Index Evaluation</h1>
    </div>
    <div id="pagebox">
      <p> This is the evaluation of the inverted index in the docker example.
      Each line represents a query in the benchmark.
      To get details about a query, click on it in the overview table below.
      </p>
      <table>
        <tr>
          <th title="Keywords entered for this query">Query</th>
          <th title="Precision at 3">P@3</th>
          <th title="Precision at R">P@R</th>
          <th title="Average Precision">AP</th>
        </tr>
        {% for query in measures %}
          {% if query != "mean" %}
            <tr>
	      <td><a href="?details={{query}}" style="color: black; text-decoration: none;">{{ query }}</a></td>
              <td>{{ "%0.2f" % measures[query][0] }}</td>
              <td>{{ "%0.2f" % measures[query][1] }}</td>
              <td>{{ "%0.2f" % measures[query][2] }}</td>
            </tr>
          {% endif %}
        {% endfor %}
        <tr>
          <th>mean</th>
          <th>{{ "%0.2f" % measures["mean"][0] }}</th>
          <th>{{ "%0.2f" % measures["mean"][1] }}</th>
          <th>{{ "%0.2f" % measures["mean"][2] }}</th>
        </tr>
      </table>
    </div>
    {% if query %}
    <div id="detailsbox">

      <h2>Query: {{ query }}</h2>
      <p>Total number of relevant documents: {{ num_relevant }}</p>
      <span><b>P@3</b> = {{ "%0.5f" % measures[query][0] }}, </span>
      <span><b>P@R</b> = <b>P@{{ num_relevant }}</b> = {{ "%0.5f" % measures[query][1] }}, </span>
      <span><b>AP</b> = {{ "%0.5f" % measures[query][2] }} </span>
      <p>Click on any of the points below to show/hide...</p>

      <h3 onclick="showHide('topRes')" style="cursor: pointer"> ...top documents in the result list</h3>
      <div id="topRes" style="display: none">
        <p>
          <span style="color: green">Green</span>
          documents are relevant and
          <span style="color: red">Red</span>
          documents are not.
        </p>
        <table>
          <tr>
            <th> </th>
            <th> Document title </th>
          </tr>
          {% for title, color in top_results %}
            <tr>
              <td> {{ loop.index0 + 1 }} </td>
              <td style="color: {{color}}">{{title}}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <h3 onclick="showHide('inList')" style="cursor: pointer">...relevant documents in the result list (total: {{res|length}})</h3>
      <div id="inList" style="display: none;">
        <table>
          <tr>
            <th>Document title</th>
            <th>Position in result</th>
          </tr>
          {% for title, position in res %}
          <tr>
            <td>{{title}}</td>
            <td>{{position}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      {% if other_relevant %}
        <h3 onclick="showHide('notInList')" style="cursor: pointer">...relevant documents <i>not</i> in the result list (total: {{other_relevant|length}})</h3>
        <div id="notInList" style="display: none;">
          <table>
            <tr>
              <th>Document title</th>
            </tr>
            {% for title in other_relevant %}
            <tr>
              <td>{{title}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      {% endif %}

    </div>
    {% endif %}
  </body>
  <script src="../static/main.js"></script>
</html>
